{% extends 'base.html.twig' %}

{% block title %}MP3Metadata{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Comment</th>
                <th>Contributor</th>
                <th>Bitrate</th>
                <th>Track</th>
                <th>PopularityMeter</th>
                <th>UniqueFileIdentifier</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for mp3metadata in mp3metadatas %}
            <tr>
                <td>{{ mp3metadata.id }}</td>
                <td>{{ mp3metadata.title }}</td>
                <td>{{ mp3metadata.artist }}</td>
                <td>{{ mp3metadata.album }}</td>
                <td>{{ mp3metadata.duration }}</td>
                <td>{{ mp3metadata.year }}</td>
                <td>{{ mp3metadata.genre }}</td>
                <td>{{ mp3metadata.comment }}</td>
                <td>{{ mp3metadata.contributor }}</td>
                <td>{{ mp3metadata.bitrate }}</td>
                <td>{{ mp3metadata.track }}</td>
                <td>{{ mp3metadata.popularityMeter }}</td>
                <td>{{ mp3metadata.uniqueFileIdentifier }}</td>
                <td>
                    <a href="{{ path('mp3meta_edit', {'id': mp3metadata.id}) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('mp3meta_delete', {'id': mp3metadata.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Nu sunt inregistrari</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
